{% extends 'bmtl/home.html' %}
{% block content %}
{% load static%}
<section id="about" class="text-center">
<div class="container">
	<div class="jumbotron my-5">
		<div class="col-xs-8">
			<h1 style="color:green">welcome to world of bike</h1>
   	<p>
           get bikes excucvely at discount price very low BOOKNOW
    </p>
   <img src="{% static 'images/abpout1.jpg' %}" style="right:200px, width:200px">
        <div >
    </div>
</div>
</section>
<hr>
<hr>
<center><h1 style="color:yellow"> THANKS FOR VISTING </h1></center>
{% endblock %}